@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


.title{
    text-align: center;
    font-family: Silkscreen;
}

div{
text-align: center;
}


.scoreDisplay{
    font-family: Silkscreen;
    font-size: 30px;
    display: grid;
    justify-content: center;
}

.game-display{
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

#restart-btn{
    font-family: Silkscreen;
}